<div class="layout-content">
  <div class="btn-item">
      <mat-sidenav-container>
          <mat-sidenav-content>
              <mat-toolbar class="main-toolbar">
                  <button style="margin-left:auto;" mat-button ><span class="material-icons">translate</span>
      
                  </button>
              <mat-menu >
                  <button mat-menu-item >
                      <img src="#"
                          style="height: 15px; width: 25px;vertical-align: text-top;" />
                      <span> Rommel</span>
                  </button>
                  <button mat-menu-item >
                      <img src="#"
                          style="height: 15px; width: 25px;vertical-align: text-top;" />
                      <span> English</span>
                  </button>
              </mat-menu>
        
              </mat-toolbar>
          
              <div class="layout-wrapper">
               
                  <div class="layout-mask"></div>   
              </div>
              
              <div>
                  <!-- <router-outlet></router-outlet> -->

              </div>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </div>
</div>  


<router-outlet></router-outlet>